@import "tailwindcss";

@theme {
  --color-glass: rgba(255, 255, 255, 0.1);
  --color-glass-border: rgba(255, 255, 255, 0.2);
  --blur-xs: 2px;
  --font-angel: "AngelFont", cursive;
}

@utility super-glow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) drop-shadow(0 0 30px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 60px rgba(255, 255, 255, 0.2));
}

@font-face {
  font-family: "AngelFont";
  src: url("./assets/font/Respective.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
  }
}